@page
@model SchoolProjectWeb.Pages.Actividades.IndexModel
@{
    ViewData["Title"] = "Actividades";
}

<h1>Actividades</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cupo Máximo</th>
            <th>Profesor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Actividades)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NombreActividad</td>
                <td>@item.Descripcion</td>
                <td>@item.CupoMaximo</td>
                <td>@item.Profesor?.Nombre</td>
            </tr>
        }
    </tbody>
</table>
